<div class="header">
    <div id="service-nav-link">
        <div id="delivery-service">
            <ul class="delivery-mode">
                <li class="delivery-link"><a href="">Livraison gratuite > 50 €</a></li>
                <li class="delivery-link"><a href="">Livraison rapide</a></li>
                <li class="delivery-link"><a href="">Renvois gratuits</a></li>
            </ul>
        </div>
        
        <div id="service-client">
            <div class="login"><a href="">Se connecter</a></div>
            <div class="pipe">|</div>
            <div class="service-client"><a href="">Service Client</a></div>
        </div>
    </div>

    <div class="product-service">
        <div id="home">
            <a href="" class="wish-link">
                <img src="/img/home.png" alt="wish-list" >
            </a>
        </div>
        <div class="search-product">
            <app-search-bar />
        </div>
        <div id="wish-and-cart">
            <div class="wish">
                <a href="" class="wish-link">
                    <img src="/img/wish.png" alt="wish-list" >
                </a>
            </div>
            <div class="cart">
                <a href="" class="cart-link">
                    <img src="/img/cart-1.png" alt="cart" >
                </a>
            </div>
        </div>
    </div>
</div>